.git
.github
.env*
**/.env*
**/.dart_tool
**/build
**/bin
**/node_modules
**/.pub-cache
**/.pub
**/coverage
**/*.test
**/test
**/e2e
flutter/android
flutter/ios
flutter/linux
flutter/macos
flutter/windows
flutter/build
flutter/.git
