openapi: 3.0.3
info:
  title: Stick-It RESP API
  version: 1.0.1
servers:
  - url: https://app.lr-projects.de
  - url: http://localhost:8081
tags:
  - name: public
    description: Everything about the public apiF
  - name: auth
    description: Everything about Authentication
  - name: groups
    description: Everything about Groups
  - name: pins
    description: Everything about Pins
  - name: users
    description: Everything about Users
  - name: members
    description: Everything about Memberships
  - name: report

paths:
  /api/v2/groups:
    get:
      operationId: getGroupsByIds
      security:
        - token: [ ]
      summary: Get groups by IDs
      tags:
        - groups
      parameters:
        - name: ids
          in: query
          description: Comma-separated list of group IDs
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ID'
        - name: search
          description: "search term used to find a group name"
          in: query
          schema:
            $ref: '#/components/schemas/ShortString'
        - name: userId
          description: "this is the userId used when withUser is set to true or false"
          in: query
          schema:
            $ref: '#/components/schemas/ID'
        - name: withUser
          description: "use false if user groups should be included and true if user groups should be excluded from search"
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupSmall'
    post:
      operationId: addGroup
      security:
        - token: [ ]
      summary: Create a new group
      tags:
        - groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroup'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        400:
          description: Image can not be used or is not square
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
  /api/v2/groups/{groupId}:
    get:
      operationId: getGroup
      security:
        - token: [ ]
      summary: Get a group by ID
      tags:
        - groups
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupSmall'
        404:
          description: Group does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
    put:
      operationId: updateGroup
      security:
        - token: [ ]
      summary: Update a group by ID
      tags:
        - groups
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroup'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        400:
          description: Image can not be used or is not square
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
        404:
          description: Group does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'

    delete:
      operationId: deleteGroup
      security:
        - token: [ ]
      summary: Delete a group by ID
      tags:
        - groups
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        200:
          description: Deleted
        404:
          description: Group does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'


  /api/v2/groups/{groupId}/profile_image:
    get:
      operationId: getGroupProfileImage
      security:
        - token: [ ]
      summary: Get profile of group
      tags:
        - groups
      parameters:
        - name: groupId
          required: true
          in: path
          description: group id
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: Successful response
          content:
            image/*:
              schema:
                $ref: '#/components/schemas/Image'
        404:
          description: Group does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
  /api/v2/groups/{groupId}/pin_image:
    get:
      operationId: getGroupPinImage
      security:
        - token: [ ]
      summary: Get pin image of group
      tags:
        - groups
      parameters:
        - name: groupId
          required: true
          in: path
          description: group id
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: Successful response
          content:
            image/png:
              schema:
                $ref: '#/components/schemas/Image'
        404:
          description: Group does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
  /api/v2/groups/{groupId}/description:
    get:
      operationId: getGroupDescription
      security:
        - token: [ ]
      summary: Get description of group
      tags:
        - groups
      parameters:
        - name: groupId
          required: true
          in: path
          description: group id
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: Successful response
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ShortString'
        404:
          description: Group does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
  /api/v2/groups/{groupId}/link:
    get:
      operationId: getGroupLink
      security:
        - token: [ ]
      summary: Get link of group
      tags:
        - groups
      parameters:
        - name: groupId
          required: true
          in: path
          description: group id
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: Successful response
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ShortString'
        404:
          description: Group does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
  /api/v2/groups/{groupId}/admin:
    get:
      operationId: getGroupAdmin
      security:
        - token: [ ]
      summary: Get admin of group
      tags:
        - groups
      parameters:
        - name: groupId
          in: path
          required: true
          description: group id
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: Successful response
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ShortString'
        404:
          description: Group does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
  /api/v2/groups/{groupId}/invite_url:
    get:
      operationId: getGroupInviteUrl
      security:
        - token: [ ]
      summary: Get invite url of group
      tags:
        - groups
      parameters:
        - name: groupId
          required: true
          in: path
          description: group id
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: Successful response
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ShortString'
        404:
          description: Group does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
  /api/v2/groups/{groupId}/members:
    get:
      operationId: getGroupMembers
      security:
        - token: [ ]
      summary: Get members of a group by ID
      tags:
        - members
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Member'
        404:
          description: Group does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
    post:
      operationId: joinGroup
      security:
        - token: [ ]
      summary: Add a member to a group by ID
      tags:
        - members
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ID'
        - name: userId
          in: query
          required: true
          description: id of user
          schema:
            $ref: '#/components/schemas/ID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                inviteUrl:
                  $ref: '#/components/schemas/ShortString'
              required:
                - inviteUrl
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        400:
          description: Group or user does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
        '403':
          description: inviteUrl does not match
        404:
          description: Group or user does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
        409:
          description: User is already a member
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
  /api/v2/groups/{groupId}/members/{userId}:
    delete:
      operationId: deleteMemberFromGroup
      security:
        - token: [ ]
      summary: leave group or delete group when the user is the last group member
      tags:
        - members
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ID'
        - name: userId
          in: path
          required: true
          description: userId
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: Deleted
        404:
          description: Group or user does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
        409:
          description: User cannot leave as group admin when the group is not empty


  /api/v2/users/{username}/delete-code:
    get:
      operationId: generateDeleteCode
      security:
        - token: [ ]
      summary: Generate delete code
      parameters:
        - name: username
          in: path
          required: true
          description: userId
          schema:
            $ref: '#/components/schemas/ShortString'
      tags:
        - auth
      responses:
        '201':
          description: Delete code generated and sent to the user
        '400':
          description: E-Mail could not be send
        '401':
          description: Unauthorized
        404:
          description: User does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
  /api/v2/public/recover:
    get:
      operationId: requestPasswordRecovery
      summary: Request password recovery
      tags:
        - auth
      parameters:
        - name: username
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/ShortString'
      responses:
        '201':
          description: Recovery email sent
        '400':
          description: E-Mail could not be send
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
        '503':
          description: Unique code could not be generated. Contact the developer under lr.dev.projects@gmail.com
  /api/v2/public/login:
    post:
      operationId: userLogin
      summary: User login
      tags:
        - auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  $ref: '#/components/schemas/ShortString'
                password:
                  $ref: '#/components/schemas/ShortString'
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    $ref: '#/components/schemas/LongString'
        '400':
          description: Wrong password or user does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
  /api/v2/public/signup:
    post:
      operationId: createUser
      summary: User registration
      tags:
        - auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUser'
      responses:
        '201':
          description: User registered successfully
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ShortString'

        '400':
          description: Registration failed
        '409':
          description: Username already exists

  /api/v2/report:
    post:
      operationId: createReport
      tags:
        - report
      security:
        - token: [ ]
      summary: Report content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Report'
      responses:
        '201':
          description: Report submitted successfully
        '400':
          description: User not found
        '503':
          description: Mail service at the moment not reachable


  /api/v2/pins:

    get:
      operationId: getPinImagesByIds
      security:
        - token: [ ]
      summary: Get images by IDs
      tags:
        - pins
      parameters:
        - name: ids
          in: query
          description: Comma-separated list of image IDs
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ID'
        - name: groupId
          description: Only pins of this group are returned
          in: query
          schema:
            $ref: '#/components/schemas/ID'
        - name: userId
          in: query
          description: Only pins of this user are returned
          schema:
            $ref: '#/components/schemas/ID'
        - name: withImage
          in: query
          description: Describes if the images of the pins should be returned too
          schema:
            type: boolean
            default: false
        - name: compression
          in: query
          description: Compression level for images (optional)
          schema:
            type: integer
            minimum: 0
            maximum: 100
        - name: height
          in: query
          description: Height for images (optional)
          schema:
            type: integer
            minimum: 0
            maximum: 10000
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PinWithOptionalImage'
    post:
      operationId: createPin
      security:
        - token: [ ]
      summary: Create a new pin
      tags:
        - pins
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewPin'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pin'
  /api/v2/pins/{pinId}:
    get:
      operationId: getPin
      security:
        - token: [ ]
      summary: Get pin information by ID
      tags:
        - pins
      parameters:
        - name: pinId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pin'
        404:
          description: Pin does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
    delete:
      operationId: deletePin
      security:
        - token: [ ]
      summary: Delete a pin by ID
      tags:
        - pins
      parameters:
        - name: pinId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: successfully deleted
        404:
          description: Pin does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
  /api/v2/pins/{pinId}/user:
    get:
      operationId: getPinCreationUsername
      security:
        - token: [ ]
      summary: Get user information associated with a pin by ID
      tags:
        - pins
      parameters:
        - name: pinId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
        404:
          description: Pin does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
  /api/v2/pins/{pinId}/image:
    get:
      operationId: getPinImage
      security:
        - token: [ ]
      summary: Get the image associated with a pin by ID
      tags:
        - pins
      parameters:
        - name: pinId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: Successful response
          content:
            image/*:
              schema:
                $ref: '#/components/schemas/Image'
        404:
          description: Pin does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
  /api/v2/public/infos:
    get:
      operationId: getServerInfo
      summary: Get public server statistics
      tags:
        - public
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Info'
  /api/v2/users/{userId}:
    put:
      operationId: updateUser
      security:
        - token: [ ]
      summary: Update user information by userId
      tags:
        - users
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Update successfull
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ShortString'
        404:
          description: User does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
    delete:
      operationId: deleteUser
      security:
        - token: [ ]
      summary: Delete a user by userId
      tags:
        - users
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ID'
        - name: code
          in: query
          required: true
          schema:
            type: integer
            minLength: 6
            maxLength: 6
      responses:
        '200':
          description: Deleted
        404:
          description: User does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
  /api/v2/users/{userId}/profile_picture_small:
    get:
      operationId: getUserProfileImageSmall
      security:
        - token: [ ]
      summary: Get the small profile picture of a user by userId
      tags:
        - users
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: Successful response
          content:
            image/*:
              schema:
                $ref: '#/components/schemas/Image'
        404:
          description: User does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
  /api/v2/users/{userId}/profile_picture:
    get:
      operationId: getUserProfileImage
      security:
        - token: [ ]
      summary: Get the profile picture of a user by userId
      tags:
        - users
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: Successful response
          content:
            image/*:
              schema:
                $ref: '#/components/schemas/Image'
        404:
          description: User does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
    put:
      operationId: updateUserProfileImage
      security:
        - token: [ ]
      summary: Update the profile picture of a user by userId
      tags:
        - users
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ID'
      requestBody:
        required: true
        content:
          image/*:
            schema:
              $ref: '#/components/schemas/Image'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                required:
                  - profilePicture
                  - profilePictureSmall
                properties:
                  profilePicture:
                    $ref: '#/components/schemas/Image'
                  profilePictureSmall:
                    $ref: '#/components/schemas/Image'
        400:
          description: The given image can not be used or is not square
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'
        404:
          description: User does not exist
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LongString'

components:
  securitySchemes:
    token: # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ID:
      type: string
      format: uuid
    ShortString:
      type: string
      maxLength: 256
    LongString:
      type: string
      maxLength: 500
    Image:
      type: string
      format: byte
      example: "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII="
    Visibility:
      type: integer
      enum:
        - 0
        - 1
    Date:
      type: string
      format: date-time
    Longitude:
      type: number
      minimum: -180
      maximum: 180
    Latitude:
      type: number
      minimum: -90
      maximum: 90
    Report:
      type: object
      required:
        - userId
        - report
        - message
      properties:
        userId:
          $ref: '#/components/schemas/ID'
        report:
          $ref: '#/components/schemas/ShortString'
        message:
          type: string
          maximum: 5000
    UpdateGroup:
      type: object
      properties:
        description:
          $ref: '#/components/schemas/ShortString'
        name:
          $ref: '#/components/schemas/ShortString'
        profileImage:
          $ref: '#/components/schemas/Image'
        visibility:
          $ref: '#/components/schemas/Visibility'
        groupAdmin:
          $ref: '#/components/schemas/ID'
        link:
          $ref: '#/components/schemas/ShortString'
    CreateGroup:
      type: object
      required:
        - description
        - name
        - groupAdmin
        - link
        - profileImage
        - visibility
      properties:
        description:
          $ref: '#/components/schemas/ShortString'
        name:
          $ref: '#/components/schemas/ShortString'
        profileImage:
          $ref: '#/components/schemas/Image'
        visibility:
          $ref: '#/components/schemas/Visibility'
        groupAdmin:
          $ref: '#/components/schemas/ID'
        link:
          $ref: '#/components/schemas/ShortString'
    GroupSmall:
      type: object
      required:
        - id
        - visibility
        - name
      properties:
        id:
          $ref: '#/components/schemas/ID'
        description:
          $ref: '#/components/schemas/ShortString'
        invite_url:
          $ref: '#/components/schemas/ShortString'
        name:
          $ref: '#/components/schemas/ShortString'
        visibility:
          $ref: '#/components/schemas/Visibility'
        group_admin:
          $ref: '#/components/schemas/ID'
        link:
          $ref: '#/components/schemas/ShortString'
        lastUpdated:
          $ref: '#/components/schemas/Date'
    Group:
      type: object
      required:
        - name
        - visibility
        - link
        - description
        - group_admin
        - id
        - invite_url
        - lastUpdated
      properties:
        id:
          $ref: '#/components/schemas/ID'
        description:
          $ref: '#/components/schemas/ShortString'
        invite_url:
          $ref: '#/components/schemas/ShortString'
        name:
          $ref: '#/components/schemas/ShortString'
        visibility:
          $ref: '#/components/schemas/Visibility'
        group_admin:
          $ref: '#/components/schemas/ID'
        link:
          $ref: '#/components/schemas/ShortString'
        lastUpdated:
          $ref: '#/components/schemas/Date'
    Pin:
      type: object
      required:
        - id
        - creation_date
        - creationUser
        - latitude
        - longitude
      properties:
        id:
          $ref: '#/components/schemas/ID'
        creation_date:
          $ref: '#/components/schemas/Date'
        latitude:
          $ref: '#/components/schemas/Latitude'
        longitude:
          $ref: '#/components/schemas/Longitude'
        creationUser:
          $ref: '#/components/schemas/ID'
    PinWithOptionalImage:
      type: object
      required:
        - id
        - creation_date
        - creationUser
        - latitude
        - longitude
      properties:
        id:
          $ref: '#/components/schemas/ID'
        creation_date:
          $ref: '#/components/schemas/Date'
        latitude:
          $ref: '#/components/schemas/Latitude'
        longitude:
          $ref: '#/components/schemas/Longitude'
        creationUser:
          $ref: '#/components/schemas/ID'
        image:
          $ref: '#/components/schemas/Image'
    Member:
      required:
        - userId
      type: object
      properties:
        userId:
          $ref: '#/components/schemas/ID'
    Info:
      required:
        - num-groups
        - num-pins
        - num-users
      type: object
      properties:
        num-users:
          type: number
        num-groups:
          type: number
        num-pins:
          type: number
    PinInfo:
      required:
        - group
        - pin
      type: object
      properties:
        pin:
          $ref: '#/components/schemas/Pin'
        group:
          $ref: '#/components/schemas/GroupSmall'
    NewPin:
      required:
        - userId
        - longitude
        - latitude
        - groupId
        - image
      type: object
      properties:
        image:
          $ref: '#/components/schemas/Image'
        latitude:
          $ref: '#/components/schemas/Latitude'
        longitude:
          $ref: '#/components/schemas/Longitude'
        userId:
          $ref: '#/components/schemas/ID'
        groupId:
          $ref: '#/components/schemas/ID'
        creationDate:
          $ref: '#/components/schemas/Date'
    Email:
      type: string
      format: email
      maximum: 265
    CreateUser:
      required:
        - email
        - password
        - name
      type: object
      properties:
        name:
          $ref: '#/components/schemas/ShortString'
        email:
          $ref: '#/components/schemas/Email'
        password:
          $ref: '#/components/schemas/ShortString'
    UserInfo:
      type: object
      properties:
        username:
          $ref: '#/components/schemas/ShortString'
        userId:
          $ref: '#/components/schemas/ID'
    User:
      type: object
      properties:
        email:
          $ref: '#/components/schemas/Email'
        password:
          $ref: '#/components/schemas/ShortString'
