{{>header}}
{{>part_of}}
{{#models}}
{{#model}}
{{#vendorExtensions.x-canonical-audience-filter-union}}
{{>canonical_union_model}}
{{/vendorExtensions.x-canonical-audience-filter-union}}
{{^vendorExtensions.x-canonical-audience-filter-union}}
{{#vendorExtensions.x-canonical-audience-union}}
{{>canonical_union_model}}
{{/vendorExtensions.x-canonical-audience-union}}
{{#vendorExtensions.x-canonical-action-union}}
{{>canonical_union_model}}
{{/vendorExtensions.x-canonical-action-union}}
{{^vendorExtensions.x-canonical-audience-union}}
{{^vendorExtensions.x-canonical-action-union}}
{{#isEnum}}
{{#native_serialization}}
{{>serialization/native/native_enum}}
{{/native_serialization}}
{{/isEnum}}
{{^isEnum}}
{{#native_serialization}}
{{>serialization/native/native_class}}
{{/native_serialization}}
{{/isEnum}}
{{/vendorExtensions.x-canonical-action-union}}
{{/vendorExtensions.x-canonical-audience-union}}
{{/vendorExtensions.x-canonical-audience-filter-union}}
{{/model}}
{{/models}}
