<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js" integrity="sha512-szJ5FSo9hEmXXe7b5AUVtn/WnL8a5VofnFeYC2i2z03uS2LhAch7ewNLbl5flsEmTTimMN0enBZg/3sQ+YOSzQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/public/base.css" media="screen">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Delete Account</title>
</head>

<body>
<div id = "body" class="container">
    <div class="row">
        <div class="mt-4"></div>
    </div>
    <div class="row" id = "row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 login-title">
                DELETE ACCOUNT
            </div>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form>
                        <div class="form-group input-group password-container">
                            <label for="username" class="form-control-label">Username</label>
                            <input id="username" type="text" class="form-control" readonly th:value="${username}">
                        </div>
                        <div class="form-group input-group password-container">
                            <label for="code" class="form-control-label">Code</label>
                            <input id="code" type="number" class="form-control" minlength="6" maxlength="6">
                        </div>


                        <div class="col-lg-12 loginbttm">
                            <div class="col-lg-6 login-btm login-text">
                                <!-- Error Message -->
                            </div>
                            <div class="col-lg-6 login-btm login-button">
                                <button type="button" th:attr="onclick=|savePass('${userId}','${token}')|" class="btn btn-outline-primary">SUBMIT</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function savePass(userId, token) {
        const code = document.getElementById("code").value;
        if (code && code.length === 6) {
            $.ajax({
                url: '/api/v2/users/' + userId,
                type: 'DELETE',
                contentType: 'application/json',
                data: code,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + token);
                },
                success: function () {
                    const suc = document.createElement('label');
                    suc.innerHTML = "Account has been successfully deleted"
                    document.getElementById("row").remove();
                    document.getElementById("body").appendChild(suc);
                },
                error: function () {
                    alert('Data does not match');
                },
            });
        }
    }

    const togglePassword = document
        .querySelector('#togglePassword');

    const password = document.querySelector('#password');

    togglePassword.addEventListener('click', () => {

        // Toggle the type attribute using
        // getAttribure() method
        const type = password
            .getAttribute('type') === 'password' ?
            'text' : 'password';

        password.setAttribute('type', type);

        // Toggle the eye and bi-eye icon
        this.classList.toggle('bi-eye');
    });

    const togglePassword2 = document
        .querySelector('#togglePassword2');

    const password2 = document.querySelector('#matchPassword');

    togglePassword2.addEventListener('click', () => {

        // Toggle the type attribute using
        // getAttribure() method
        const type = password2
            .getAttribute('type') === 'password' ?
            'text' : 'password';

        password2.setAttribute('type', type);

        // Toggle the eye and bi-eye icon
        this.classList.toggle('bi-eye');
    });


</script>
</body>
</html>