openapi: 3.0.3
info:
  title: Stick-It RESP API
  version: 1.0.1
servers:
  - url: https://stick-it.lr-projects.de
  - url: http://localhost:8081
tags:
  - name: public
    description: Everything about the public apiF
  - name: auth
    description: Everything about Authentication
  - name: groups
    description: Everything about Groups
  - name: pins
    description: Everything about Pins
  - name: users
    description: Everything about Users
  - name: members
    description: Everything about Memberships
  - name: report
    description: Everything about Reports
  - name: likes
    description: Everything about Likes
  - name: admin
    description: Everything only allowed by Admins
  - name: ranking
    description: Everything about user rankings
paths:
  /api/v2/groups:
    $ref: './methods/groups.yaml'

  /api/v2/groups/{groupId}:
    $ref: './methods/groupById.yaml'

  /api/v2/groups/{groupId}/image:
    $ref: './methods/groupProfileImage.yaml'

  /api/v2/groups/{groupId}/image/small:
    $ref: './methods/groupProfileImageSmall.yaml'

  /api/v2/groups/{groupId}/pin-image:
    $ref: './methods/groupPinImage.yaml'

  /api/v2/groups/{groupId}/description:
    $ref: './methods/groupDescription.yaml'

  /api/v2/groups/{groupId}/link:
    $ref: './methods/groupLink.yaml'

  /api/v2/groups/{groupId}/admin:
    $ref: './methods/groupAdmin.yaml'

  /api/v2/groups/{groupId}/invite-url:
    $ref: './methods/groupInviteUrl.yaml'

  /api/v2/members/groups/{groupId}:
    $ref: './methods/membersByGroup.yaml'

  /api/v2/members/groups/{groupId}/users/{userId}:
    $ref: './methods/membersByGroupUser.yaml'

  /api/v2/auth/delete-code/{username}:
    $ref: './methods/userDeleteCode.yaml'

  /api/v2/auth/recover/{username}:
    $ref: './methods/publicRecover.yaml'

  /api/v2/auth/login:
    $ref: './methods/publicLogin.yaml'

  /api/v2/auth/signup:
    $ref: './methods/publicSignup.yaml'

  /api/v2/auth/refresh:
    $ref: './methods/publicRefresh.yaml'

  /api/v2/reports:
    $ref: './methods/report.yaml'

  /api/v2/pins:
    $ref: './methods/pins.yaml'

  /api/v2/pins/sync:
    $ref: './methods/pinsSync.yaml'

  /api/v2/pins/sync/lastSeen:
    $ref: './methods/sync.yaml'

  /api/v2/pins/{pinId}:
    $ref: './methods/pinsById.yaml'

  /api/v2/pins/{pinId}/image:
    $ref: './methods/pinsImage.yaml'

  /api/v2/likes/pins/{pinId}:
    $ref: './methods/likes.yaml'

  /api/v2/likes/users/{userId}:
    $ref: './methods/userLikes.yaml'

  /api/v2/public/info:
    $ref: './methods/publicInfos.yaml'

  /api/v2/users/{userId}:
    $ref: './methods/userById.yaml'

  /api/v2/users/{userId}/image/small:
    $ref: './methods/userProfileImageSmall.yaml'

  /api/v2/users/{userId}/image:
    $ref: './methods/userProfileImage.yaml'

  /api/v2/users/{userId}/xp:
    $ref: './methods/userXp.yaml'

  /api/v2/users/{userId}/achievements:
    $ref: './methods/userAchievements.yaml'

  /api/v2/users/{userId}/achievements/{achievementId}/claim:
    $ref: './methods/userAchievementsById.yaml'

  /api/v2/ranking/groups:
    $ref: './methods/groupRanking.yaml'

  /api/v2/ranking/users:
    $ref: './methods/userRanking.yaml'

  /api/v2/ranking/search:
    $ref: './methods/searchRanking.yaml'

  /api/v2/ranking/map-info:
    $ref: './methods/mapInfo.yaml'

  /api/v2/ranking/geojson:
    $ref: './methods/getGeojson.yaml'

  /api/v2/status:
    $ref: './methods/status.yaml'

  /api/v2/admin/mail:
    $ref: './methods/adminMail.yaml'

  /api/v2/admin/notifications:
    $ref: './methods/adminNotification.yaml'

components:
  securitySchemes:
    token:
      type: http
      scheme: bearer
      bearerFormat: JWT
