openapi: 3.0.3
info:
  title: Stick-It RESP API
  version: 1.0.1
servers:
- url: https://stick-it.lr-projects.de
- url: http://localhost:8080
tags:
- description: Everything about the public apiF
  name: public
- description: Everything about Authentication
  name: auth
- description: Everything about Groups
  name: groups
- description: Everything about Pins
  name: pins
- description: Everything about Users
  name: users
- description: Everything about Memberships
  name: members
- description: Everything about Reports
  name: report
- description: Everything about Likes
  name: likes
- description: Everything only allowed by Admins
  name: admin
- description: Everything about user rankings
  name: ranking
- description: Bounded authenticated resource reads
  name: Batch
- description: Consumer email-link authentication and restricted recovery
  name: publicAuth
- description: Consumer bearer session operations
  name: sessionAuth
- description: Browser admin session and MFA lifecycle
  name: adminSession
- description: Admin account search and security state
  name: adminUsers
- description: Explicit admin audience previews and snapshots
  name: adminAudiences
- description: Admin durable action jobs and delivery outcomes
  name: adminJobs
- description: Admin message validation and test delivery
  name: adminMessages
- description: Admin report review and history
  name: adminReports
- description: Permission-filtered administrative audit history
  name: adminAudit
paths:
  /api/v3/batch:
    post:
      operationId: batchRead
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/batchReadRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/batchReadResponse"
          description: Per-resource results in request order
        "400":
          description: Invalid batch request
        "401":
          description: Authentication required
      security:
      - token: []
      summary: Read several authenticated resources in one request
      tags:
      - Batch
  /api/v2/groups:
    get:
      operationId: getGroupsByIds
      parameters:
      - description: Comma-separated list of group IDs
        in: query
        name: ids
        schema:
          items:
            $ref: "#/components/schemas/id"
          type: array
      - description: search term used to find a group name
        in: query
        name: search
        schema:
          $ref: "#/components/schemas/shortString"
      - description: this is the userId used when withUser is set to true or false
        in: query
        name: userId
        schema:
          $ref: "#/components/schemas/id"
      - description: use false if user groups should be included and true if user
          groups should be excluded from search
        in: query
        name: withUser
        schema:
          type: boolean
      - description: use false if profile picture should not be returned and true
          if it should. Defaults to false
        in: query
        name: withImages
        schema:
          default: false
          type: boolean
      - description: page number
        in: query
        name: page
        schema:
          type: integer
      - description: page size. Defaults to 20
        in: query
        name: size
        schema:
          default: 20
          type: integer
      - description: only include groups that have been updated after this date. If
          set all deleted groups after this time are returned.
        in: query
        name: updatedAfter
        schema:
          $ref: "#/components/schemas/date"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/groupsSyncDto"
          description: Successful response
      security:
      - token: []
      summary: Get groups by IDs
      tags:
      - groups
    post:
      operationId: addGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createGroupDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/groupDto"
          description: Successful response
        "400":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: Image can not be used or is not square
      security:
      - token: []
      summary: Create a new group
      tags:
      - groups
  /api/v2/groups/{groupId}:
    delete:
      operationId: deleteGroup
      parameters:
      - in: path
        name: groupId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      responses:
        "200":
          description: Deleted
        "404":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: Group does not exist
      security:
      - token: []
      summary: Delete a group by ID
      tags:
      - groups
    get:
      operationId: getGroup
      parameters:
      - in: path
        name: groupId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/groupDto"
          description: Successful response
        "404":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: Group does not exist
      security:
      - token: []
      summary: Get a group by ID
      tags:
      - groups
    put:
      operationId: updateGroup
      parameters:
      - in: path
        name: groupId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateGroupDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/groupDto"
          description: Successful response
        "400":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: Image can not be used or is not square
        "404":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: Group does not exist
      security:
      - token: []
      summary: Update a group by ID
      tags:
      - groups
  /api/v2/groups/{groupId}/profile_image:
    get:
      operationId: getGroupProfileImage
      parameters:
      - description: group id
        in: path
        name: groupId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      - description: "When true, this endpoint redirects directly to the target image\
          \ otherwise the image URL is returned"
        in: query
        name: redirect
        required: false
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            image/*:
              schema:
                $ref: "#/components/schemas/imageUrl"
          description: Successful response
        "301":
          description: Successful redirect to image
        "404":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: Group does not exist
      security:
      - token: []
      summary: Get profile of group
      tags:
      - groups
  /api/v2/groups/{groupId}/profile_image_small:
    get:
      operationId: getGroupProfileImageSmall
      parameters:
      - description: group id
        in: path
        name: groupId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      - description: "When true, this endpoint redirects directly to the target image\
          \ otherwise the image URL is returned"
        in: query
        name: redirect
        required: false
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            image/*:
              schema:
                $ref: "#/components/schemas/imageUrl"
          description: Successful response
        "301":
          description: Successful redirect to image
        "404":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: Group does not exist
      security:
      - token: []
      summary: Get small profile image url of group
      tags:
      - groups
  /api/v2/groups/{groupId}/pin_image:
    get:
      operationId: getGroupPinImage
      parameters:
      - description: group id
        in: path
        name: groupId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      - description: "When true, this endpoint redirects directly to the target image\
          \ otherwise the image URL is returned"
        in: query
        name: redirect
        required: false
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            image/png:
              schema:
                $ref: "#/components/schemas/imageUrl"
          description: Successful response
        "301":
          description: Successful redirect to image
        "404":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: Group does not exist
      security:
      - token: []
      summary: Get pin image of group
      tags:
      - groups
  /api/v2/groups/{groupId}/description:
    get:
      operationId: getGroupDescription
      parameters:
      - description: group id
        in: path
        name: groupId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      responses:
        "200":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/shortString"
          description: Successful response
        "404":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: Group does not exist
      security:
      - token: []
      summary: Get description of group
      tags:
      - groups
  /api/v2/groups/{groupId}/link:
    get:
      operationId: getGroupLink
      parameters:
      - description: group id
        in: path
        name: groupId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      responses:
        "200":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/shortString"
          description: Successful response
        "404":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: Group does not exist
      security:
      - token: []
      summary: Get link of group
      tags:
      - groups
  /api/v2/groups/{groupId}/admin:
    get:
      operationId: getGroupAdmin
      parameters:
      - description: group id
        in: path
        name: groupId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      responses:
        "200":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/shortString"
          description: Successful response
        "404":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: Group does not exist
      security:
      - token: []
      summary: Get admin of group
      tags:
      - groups
  /api/v2/groups/{groupId}/invite_url:
    get:
      operationId: getGroupInviteUrl
      parameters:
      - description: group id
        in: path
        name: groupId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      responses:
        "200":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/shortString"
          description: Successful response
        "404":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: Group does not exist
      security:
      - token: []
      summary: Get invite url of group
      tags:
      - groups
  /api/v2/groups/{groupId}/members:
    delete:
      operationId: deleteMemberFromGroup
      parameters:
      - in: path
        name: groupId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      - description: userId
        in: query
        name: userId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      responses:
        "200":
          description: Deleted
        "404":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: Group or user does not exist
        "409":
          description: User cannot leave as group admin when the group is not empty
      security:
      - token: []
      summary: leave group or delete group when the user is the last group member
      tags:
      - members
    get:
      operationId: getGroupMembers
      parameters:
      - in: path
        name: groupId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/memberResponseDto"
                type: array
          description: Successful response
        "404":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: Group does not exist
      security:
      - token: []
      summary: Get members of a group by ID
      tags:
      - members
    post:
      operationId: joinGroup
      parameters:
      - in: path
        name: groupId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      - description: id of user
        in: query
        name: userId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      - description: inviteUrl to authorize a user to join a private group
        in: query
        name: inviteUrl
        schema:
          $ref: "#/components/schemas/shortString"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/groupDto"
          description: Successful response
        "400":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: Group or user does not exist
        "403":
          description: inviteUrl does not match
        "404":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: Group or user does not exist
        "409":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: User is already a member
      security:
      - token: []
      summary: Add a member to a group by ID
      tags:
      - members
  /api/v2/public/delete-code/{username}:
    get:
      operationId: generateDeleteCode
      parameters:
      - description: userId
        in: path
        name: username
        required: true
        schema:
          $ref: "#/components/schemas/shortString"
      responses:
        "201":
          description: Delete code generated and sent to the user
        "400":
          description: E-Mail could not be send
        "401":
          description: Unauthorized
        "404":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: User does not exist
      security:
      - token: []
      summary: Generate delete code
      tags:
      - auth
  /api/v2/public/recover:
    get:
      operationId: requestPasswordRecovery
      parameters:
      - in: query
        name: username
        required: true
        schema:
          $ref: "#/components/schemas/shortString"
      responses:
        "201":
          description: Recovery email sent
        "400":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: E-Mail could not be send
        "503":
          description: Unique code could not be generated. Contact the developer under
            lr.dev.projects@gmail.com
      summary: Request password recovery
      tags:
      - auth
  /api/v2/public/login:
    post:
      operationId: userLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/userLogin_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tokenResponseDto"
          description: Successful login
        "400":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: Wrong password or user does not exist
      summary: User login
      tags:
      - auth
  /api/v2/public/signup:
    post:
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/userRequestDto"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tokenResponseDto"
          description: User registered successfully
        "400":
          description: Registration failed
        "409":
          description: Username already exists
      summary: User registration
      tags:
      - auth
  /api/v2/public/refresh:
    post:
      description: Request a new access token with a refresh token
      operationId: refreshToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/refreshTokenRequestDto"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tokenResponseDto"
          description: Successfully applied new access token
        "403":
          description: Invalid refresh token try logging in again
      summary: Request a new access token
      tags:
      - auth
  /api/v2/report:
    post:
      operationId: createReport
      parameters:
      - $ref: "#/components/parameters/reportIdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/reportDto"
        required: true
      responses:
        "200":
          description: Report submitted successfully
        "400":
          description: User not found
        "409":
          $ref: "#/components/responses/conflict"
        "429":
          $ref: "#/components/responses/rateLimited"
        "503":
          description: Mail service at the moment not reachable
      security:
      - token: []
      summary: Report content
      tags:
      - report
  /api/v2/pins:
    get:
      operationId: getPinImagesByIds
      parameters:
      - description: Comma-separated list of image IDs
        in: query
        name: ids
        schema:
          items:
            $ref: "#/components/schemas/id"
          type: array
      - description: Only pins of this group are returned
        in: query
        name: groupId
        schema:
          $ref: "#/components/schemas/id"
      - description: Only pins of this user are returned
        in: query
        name: userId
        schema:
          $ref: "#/components/schemas/id"
      - description: Describes if the images of the pins should be returned too
        in: query
        name: withImage
        schema:
          default: false
          type: boolean
      - description: Compression level for images (optional)
        in: query
        name: compression
        schema:
          maximum: 100
          minimum: 0
          type: integer
      - description: Height for images (optional)
        in: query
        name: height
        schema:
          maximum: 10000
          minimum: 0
          type: integer
      - description: page number (can only be used when ids is not set). Sorted by
          creation date descending. Use beforeCreationDate and beforeId for stable
          cursor pagination.
        in: query
        name: page
        schema:
          type: integer
      - description: page size. Defaults to 20
        in: query
        name: size
        schema:
          default: 20
          type: integer
      - description: only include pins that have been updated after this date.If set
          all deleted pins after this time are returned.
        in: query
        name: updatedAfter
        schema:
          $ref: "#/components/schemas/date"
      - description: stable pagination cursor; provide with beforeId; return pins
          created before this date, with beforeId breaking ties
        in: query
        name: beforeCreationDate
        schema:
          $ref: "#/components/schemas/date"
      - description: stable pagination cursor tie-breaker for beforeCreationDate;
          provide both cursor parameters together
        in: query
        name: beforeId
        schema:
          $ref: "#/components/schemas/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pinsSyncDto"
          description: Successful response
      security:
      - token: []
      summary: Get images by IDs
      tags:
      - pins
    post:
      operationId: createPin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pinRequestDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pinWithOptionalImageDto"
          description: Successful response
      security:
      - token: []
      summary: Create a new pin
      tags:
      - pins
  /api/v2/pins/{pinId}:
    delete:
      operationId: deletePin
      parameters:
      - in: path
        name: pinId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      responses:
        "200":
          description: successfully deleted
        "404":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: Pin does not exist
      security:
      - token: []
      summary: Delete a pin by ID
      tags:
      - pins
    get:
      operationId: getPin
      parameters:
      - in: path
        name: pinId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      - description: Describes if the image of the pin should be returned too
        in: query
        name: withImage
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pinWithOptionalImageDto"
          description: Successful response
        "404":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: Pin does not exist
      security:
      - token: []
      summary: Get pin information by ID
      tags:
      - pins
  /api/v2/pins/{pinId}/image:
    get:
      operationId: getPinImage
      parameters:
      - in: path
        name: pinId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      - description: "When true, this endpoint redirects directly to the target image\
          \ otherwise the image URL is returned"
        in: query
        name: redirect
        required: false
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            image/*:
              schema:
                $ref: "#/components/schemas/imageUrl"
          description: Successful response
        "301":
          description: Successful redirect to target image
        "404":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: Pin does not exist
      security:
      - token: []
      summary: Get the image associated with a pin by ID
      tags:
      - pins
  /api/v2/pins/{pinId}/likes:
    get:
      description: Get pin likes
      operationId: getPinLikes
      parameters:
      - in: path
        name: pinId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pinLikeDto"
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "400":
          description: Bad request
        "404":
          description: Pin not found
      security:
      - token: []
      summary: Get pin likes
      tags:
      - likes
    post:
      description: Create or update a like
      operationId: createOrUpdateLike
      parameters:
      - in: path
        name: pinId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createLikeDto"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pinLikeDto"
          description: Created or updated
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "400":
          description: Bad request
        "404":
          description: Pin not found
      security:
      - token: []
      summary: Create or update a like
      tags:
      - likes
  /api/v2/users/{userId}/likes:
    get:
      operationId: getUserLikes
      parameters:
      - in: path
        name: userId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/userLikesDto"
          description: Successfully returned user's likes
      security:
      - token: []
      summary: Get user's likes
      tags:
      - likes
  /api/v2/public/infos:
    get:
      operationId: getServerInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/infoDto"
                type: array
          description: Successful response
      summary: Get public server statistics
      tags:
      - public
  /api/v2/users/{userId}:
    delete:
      operationId: deleteUser
      parameters:
      - in: path
        name: userId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/code"
      responses:
        "200":
          description: Deleted
        "404":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: User does not exist
      security:
      - token: []
      summary: Delete a user by userId
      tags:
      - users
    get:
      operationId: getUser
      parameters:
      - in: path
        name: userId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/userInfoDto"
          description: Get successfull
        "404":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: User does not exist
      security:
      - token: []
      summary: Get a user by userId
      tags:
      - users
    put:
      operationId: updateUser
      parameters:
      - in: path
        name: userId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/userUpdateDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/userUpdateResponseDto"
          description: Update successfull
        "404":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: User does not exist
      security:
      - token: []
      summary: Update user information by userId
      tags:
      - users
  /api/v2/users/{userId}/profile_picture_small:
    get:
      operationId: getUserProfileImageSmall
      parameters:
      - in: path
        name: userId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      - description: "When true, this endpoint redirects directly to the target image\
          \ otherwise the image URL is returned"
        in: query
        name: redirect
        required: false
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            image/*:
              schema:
                $ref: "#/components/schemas/imageUrl"
          description: Successful response
        "301":
          description: Successful redirect to image
        "404":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: User does not exist
      security:
      - token: []
      summary: Get the small profile picture of a user by userId
      tags:
      - users
  /api/v2/users/{userId}/profile_picture:
    get:
      operationId: getUserProfileImage
      parameters:
      - in: path
        name: userId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      - description: "When true, this endpoint redirects directly to the target image\
          \ otherwise the image URL is returned"
        in: query
        name: redirect
        required: false
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            image/*:
              schema:
                $ref: "#/components/schemas/imageUrl"
          description: Successful response
        "301":
          description: Successful redirect to image
        "404":
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: "#/components/schemas/longString"
          description: User does not exist
      security:
      - token: []
      summary: Get the profile picture of a user by userId
      tags:
      - users
  /api/v2/users/{userId}/xp:
    get:
      operationId: getUserXp
      parameters:
      - in: path
        name: userId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/userXpDto"
          description: Successfully returned user's xp
        "404":
          description: User not found
        "403":
          description: Token not of requested user
        "401":
          description: Unauthorized
        "400":
          description: Bad request parameter format
      security:
      - token: []
      summary: Get user's xp
      tags:
      - users
  /api/v2/users/{userId}/achievements:
    get:
      operationId: getUserAchievements
      parameters:
      - in: path
        name: userId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/userAchievementsDto"
          description: Successfully returned user's achievements
        "404":
          description: User not found
        "403":
          description: Token not of requested user
      security:
      - token: []
      summary: Get user's achievements
      tags:
      - users
  /api/v2/users/{userId}/achievements/{achievementId}:
    post:
      operationId: claimUserAchievement
      parameters:
      - in: path
        name: userId
        required: true
        schema:
          $ref: "#/components/schemas/id"
      - in: path
        name: achievementId
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          description: Successfully claimed achievement
        "404":
          description: User not found
        "403":
          description: Token not of requested user
        "400":
          description: Not fulfilled conditions
      security:
      - token: []
      summary: Claim an achievement
      tags:
      - users
  /api/v2/ranking/group:
    get:
      operationId: groupRanking
      parameters:
      - description: Country ID. When not null the ranking by country is returned.
        in: query
        name: gid0
        schema:
          type: string
      - description: State ID. When not null the ranking by country is returned.
        in: query
        name: gid1
        schema:
          type: string
      - description: County ID. When not null the ranking by country is returned.
        in: query
        name: gid2
        schema:
          type: string
      - deprecated: true
        description: Only include pins added since this point in time. When null all
          pins are included
        in: query
        name: since
        schema:
          $ref: "#/components/schemas/date"
      - description: Only include pins from this season. When null all pins are included
        in: query
        name: season
        schema:
          default: false
          type: boolean
      - description: page number
        in: query
        name: page
        schema:
          type: integer
      - description: page size. Defaults to 20
        in: query
        name: size
        schema:
          default: 20
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/groupRankingDto"
          description: Created or updated
      security:
      - token: []
      tags:
      - ranking
  /api/v2/ranking/user:
    get:
      operationId: userRanking
      parameters:
      - description: Country ID. When not null the ranking by country is returned.
        in: query
        name: gid0
        schema:
          type: string
      - description: State ID. When not null the ranking by country is returned.
        in: query
        name: gid1
        schema:
          type: string
      - description: County ID. When not null the ranking by country is returned.
        in: query
        name: gid2
        schema:
          type: string
      - deprecated: true
        description: Only include pins added since this point in time. When null all
          pins are included
        in: query
        name: since
        schema:
          $ref: "#/components/schemas/date"
      - description: Only include pins from this season. When null all pins are included
        in: query
        name: season
        schema:
          default: false
          type: boolean
      - description: page number
        in: query
        name: page
        schema:
          type: integer
      - description: page size. Defaults to 20
        in: query
        name: size
        schema:
          default: 20
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/userRankingDto"
          description: Created or updated
      security:
      - token: []
      tags:
      - ranking
  /api/v2/ranking/search:
    get:
      operationId: searchRanking
      parameters:
      - in: query
        name: search
        schema:
          type: string
      - description: page number
        in: query
        name: page
        schema:
          type: integer
      - description: page size. Defaults to 20
        in: query
        name: size
        schema:
          default: 20
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rankingSearchDto"
          description: "List of countries, states and counties"
      summary: Search for a location
      tags:
      - ranking
  /api/v2/map:
    get:
      operationId: getMapInfo
      parameters:
      - description: Together with longitude an info dto of the position can be requested.
        in: query
        name: latitude
        schema:
          $ref: "#/components/schemas/latitude"
      - description: Together with latitude an info dto of the position can be requested.
        in: query
        name: longitude
        schema:
          $ref: "#/components/schemas/longitude"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/mapInfoDto"
                type: array
          description: Get mapInfo list
        "400":
          description: Query parameters have the wrong format
        "403":
          description: Forbidden
        "401":
          description: Unauthenticated
      security:
      - token: []
      tags:
      - ranking
  /api/v2/map/geojson:
    get:
      description: Gets the geojson info of a specific gid
      operationId: getGeoJson
      parameters:
      - description: County ID. Only one allowed
        in: query
        name: gid2
        required: false
        schema:
          type: string
      - description: State ID. Only one allowed
        in: query
        name: gid1
        required: false
        schema:
          type: string
      - description: Country ID. Only one allowed
        in: query
        name: gid0
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: OK
        "404":
          description: Country not found
      security:
      - token: []
      tags:
      - ranking
  /api/v2/status:
    get:
      operationId: getStatus
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/status"
          description: Successful response
      security:
      - token: []
      summary: Gets the status of the server and user specific information
      tags:
      - auth
  /api/v2/admin/mail:
    post:
      operationId: sendAdminMail
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/adminMailDto"
      responses:
        "200":
          description: Successfully sent mail(s)
        "400":
          description: Failure
      security:
      - token: []
      summary: Send an admin mail
      tags:
      - admin
  /api/v2/admin/notification:
    post:
      description: Post a notification with a given title and body to a specific topic
      operationId: sendNotification
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/notificationDto"
        required: true
      responses:
        "201":
          description: Notification sent
        "401":
          description: Not authorized to send notifications
        "500":
          description: Internal server error
      security:
      - token: []
      summary: Post a notification to a specific topic
      tags:
      - admin
  /api/v3/sync:
    get:
      operationId: sync
      parameters:
      - description: Syncs created and deleted pins after this date
        in: query
        name: lastSeen
        schema:
          $ref: "#/components/schemas/date"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/syncDto"
          description: Successful response
      security:
      - token: []
      summary: Sync all pins and groups based on last seen date
      tags:
      - pins
  /api/v3/public/auth/email-link/request:
    post:
      description: Always returns the same accepted response for eligible and ineligible addresses.
      operationId: requestEmailLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/emailLinkRequestDto"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/emailLinkRequestAcceptedDto"
          description: Request accepted without disclosing account eligibility
        "400":
          $ref: "#/components/responses/badRequest"
        "429":
          $ref: "#/components/responses/rateLimited"
        "503":
          $ref: "#/components/responses/unavailable"
      security: []
      summary: Request a one-time email sign-in link
      tags:
      - publicAuth
      x-availability: disabled
      x-feature-flag: public_email_login
  /api/v3/public/auth/email-link/exchange:
    post:
      description: Exchange an opaque link only through POST; opening or scanning a link does not consume it.
      operationId: exchangeEmailLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/emailLinkExchangeRequestDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/emailLinkExchangeResponseDto"
          description: Existing account token pair and canonical username
        "400":
          $ref: "#/components/responses/badRequest"
        "429":
          $ref: "#/components/responses/rateLimited"
        "503":
          $ref: "#/components/responses/unavailable"
      security: []
      summary: Exchange a one-time email sign-in link
      tags:
      - publicAuth
      x-availability: disabled
      x-feature-flag: public_email_login
  /api/v3/public/auth/recovery/complete:
    post:
      description: Complete restricted password recovery with a purpose-limited action token.
      operationId: completeRecovery
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/recoveryCompleteRequestDto"
        required: true
      responses:
        "204":
          description: Recovery accepted; a fresh login is required
        "400":
          $ref: "#/components/responses/badRequest"
        "409":
          $ref: "#/components/responses/conflict"
        "503":
          $ref: "#/components/responses/unavailable"
      security: []
      summary: Complete restricted account recovery
      tags:
      - publicAuth
      x-availability: disabled
      x-feature-flag: public_email_login
  /api/v3/auth/session/revoke:
    post:
      description: Revoke only the submitted refresh credential when it belongs to the bearer-authenticated caller.
      operationId: revokeOwnSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/sessionRevokeRequestDto"
        required: true
      responses:
        "204":
          description: Credential revoked or already absent; operation is idempotent
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "503":
          $ref: "#/components/responses/unavailable"
      security:
      - token: []
      summary: Revoke the caller's submitted refresh credential
      tags:
      - sessionAuth
      x-availability: disabled
      x-feature-flag: public_email_login
  /api/v3/admin/session/bootstrap:
    post:
      description: Create or refresh a pre-authentication browser session and issue a CSRF token bound to its challenge.
      operationId: bootstrapAdminSession
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adminSessionBootstrapDto"
          description: Pre-authentication session and CSRF token
        "429":
          $ref: "#/components/responses/rateLimited"
        "503":
          $ref: "#/components/responses/unavailable"
      security: []
      summary: Bootstrap an admin browser session
      tags:
      - adminSession
      x-availability: disabled
      x-feature-flag: web_admin_api
  /api/v3/admin/session/login:
    post:
      description: Start the password challenge; this endpoint never issues a consumer JWT or refresh token.
      operationId: adminSessionLogin
      parameters:
      - $ref: "#/components/parameters/csrfHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/adminSessionLoginRequestDto"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adminSessionLoginResponseDto"
          description: Password accepted and an MFA challenge is pending
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "429":
          $ref: "#/components/responses/rateLimited"
        "503":
          $ref: "#/components/responses/unavailable"
      security:
      - adminSession: []
      summary: Begin an admin password and MFA login
      tags:
      - adminSession
      x-availability: disabled
      x-feature-flag: web_admin_api
  /api/v3/admin/session/mfa:
    post:
      description: Complete the one-use MFA challenge and rotate the CSRF token on authentication.
      operationId: completeAdminSessionMfa
      parameters:
      - $ref: "#/components/parameters/csrfHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/adminMfaRequestDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adminSessionDto"
          description: Authenticated admin session with capabilities
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "429":
          $ref: "#/components/responses/rateLimited"
        "503":
          $ref: "#/components/responses/unavailable"
      security:
      - adminSession: []
      summary: Complete admin MFA
      tags:
      - adminSession
      x-availability: disabled
      x-feature-flag: web_admin_api
  /api/v3/admin/session/reauthenticate:
    post:
      description: Refresh recent MFA freshness for a specific action and rotate the CSRF token.
      operationId: reauthenticateAdminSession
      parameters:
      - $ref: "#/components/parameters/csrfHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/adminReauthenticateRequestDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adminSessionDto"
          description: Session with renewed recent MFA freshness
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "503":
          $ref: "#/components/responses/unavailable"
      security:
      - adminSession: []
      summary: Reauthenticate an admin session for a sensitive action
      tags:
      - adminSession
      x-availability: disabled
      x-feature-flag: web_admin_api
  /api/v3/admin/session/logout:
    post:
      description: Revoke the opaque admin session and clear its browser cookie.
      operationId: logoutAdminSession
      parameters:
      - $ref: "#/components/parameters/csrfHeader"
      responses:
        "204":
          description: Admin session revoked; operation is idempotent
        "401":
          $ref: "#/components/responses/unauthorized"
        "503":
          $ref: "#/components/responses/unavailable"
      security:
      - adminSession: []
      summary: Log out of the admin session
      tags:
      - adminSession
      x-availability: disabled
      x-feature-flag: web_admin_api
  /api/v3/admin/session:
    get:
      description: Restore the current admin session and capabilities after a page reload.
      operationId: getAdminSession
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adminSessionDto"
          description: Current authenticated session
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "503":
          $ref: "#/components/responses/unavailable"
      security:
      - adminSession: []
      summary: Restore the current admin session
      tags:
      - adminSession
      x-availability: disabled
      x-feature-flag: web_admin_api
  /api/v3/admin/users:
    get:
      description: Return bounded account records without tokens, password hashes, or other credential material.
      operationId: listAdminUsers
      parameters:
      - $ref: "#/components/parameters/adminCursor"
      - $ref: "#/components/parameters/adminLimit"
      - description: Case-insensitive username, email, or stable ID search.
        in: query
        name: search
        schema:
          maxLength: 256
          type: string
      - description: Restrict results to one security state.
        in: query
        name: securityStatus
        schema:
          $ref: "#/components/schemas/adminSecurityState"
      - description: Restrict results by verified-email presence.
        in: query
        name: verifiedEmail
        schema:
          type: boolean
      - description: Include accounts created at or after this instant.
        in: query
        name: createdAfter
        schema:
          format: date-time
          type: string
      - description: Include accounts created before this instant.
        in: query
        name: createdBefore
        schema:
          format: date-time
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adminUserPageDto"
          description: Bounded user page
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "503":
          $ref: "#/components/responses/unavailable"
      security:
      - adminSession: []
      summary: Search administrative user records
      tags:
      - adminUsers
      x-availability: disabled
      x-feature-flag: web_admin_api
  /api/v3/admin/users/{userId}:
    get:
      operationId: getAdminUser
      parameters:
      - description: Stable account identifier.
        in: path
        name: userId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adminUserDetailsDto"
          description: Administrative user details
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "503":
          $ref: "#/components/responses/unavailable"
      security:
      - adminSession: []
      summary: Get one administrative user record
      tags:
      - adminUsers
      x-availability: disabled
      x-feature-flag: web_admin_api
  /api/v3/admin/audiences/preview:
    post:
      description: Resolve an explicit account or report audience into an immutable actor/action/payload-bound snapshot.
      operationId: previewAdminAudience
      parameters:
      - $ref: "#/components/parameters/csrfHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/adminAudiencePreviewRequestDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adminAudiencePreviewResponseDto"
          description: Snapshot preview is ready
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adminAudiencePreviewResponseDto"
          description: Snapshot materialization is queued
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "409":
          $ref: "#/components/responses/conflict"
        "429":
          $ref: "#/components/responses/rateLimited"
        "503":
          $ref: "#/components/responses/unavailable"
      security:
      - adminSession: []
      summary: Preview an explicit administrative audience
      tags:
      - adminAudiences
      x-availability: disabled
      x-feature-flag: web_admin_api
  /api/v3/admin/audiences/{audienceId}:
    get:
      operationId: getAdminAudience
      parameters:
      - description: Immutable audience snapshot identifier.
        in: path
        name: audienceId
        required: true
        schema:
          format: uuid
          type: string
      - $ref: "#/components/parameters/adminCursor"
      - $ref: "#/components/parameters/adminLimit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adminAudiencePageDto"
          description: Snapshot members and exclusions
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "503":
          $ref: "#/components/responses/unavailable"
      security:
      - adminSession: []
      summary: Read an administrative audience snapshot
      tags:
      - adminAudiences
      x-availability: disabled
      x-feature-flag: web_admin_api
  /api/v3/admin/jobs:
    get:
      operationId: listAdminJobs
      parameters:
      - $ref: "#/components/parameters/adminCursor"
      - $ref: "#/components/parameters/adminLimit"
      - description: Restrict jobs to a lifecycle state.
        in: query
        name: status
        schema:
          $ref: "#/components/schemas/adminJobStatus"
      - description: Restrict jobs to one action.
        in: query
        name: action
        schema:
          $ref: "#/components/schemas/adminActionKind"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adminJobPageDto"
          description: Bounded job page
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "503":
          $ref: "#/components/responses/unavailable"
      security:
      - adminSession: []
      summary: List administrative action jobs
      tags:
      - adminJobs
      x-availability: disabled
      x-feature-flag: web_admin_api
    post:
      description: Commit exactly one unexpired preview snapshot and action. The Idempotency-Key header is required.
      operationId: createAdminJob
      parameters:
      - $ref: "#/components/parameters/csrfHeader"
      - $ref: "#/components/parameters/idempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/adminJobCreateRequestDto"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adminJobAcceptedDto"
          description: Job accepted for durable processing
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "409":
          $ref: "#/components/responses/conflict"
        "429":
          $ref: "#/components/responses/rateLimited"
        "503":
          $ref: "#/components/responses/unavailable"
      security:
      - adminSession: []
      summary: Commit an administrative action job
      tags:
      - adminJobs
      x-availability: disabled
      x-feature-flag: web_admin_api
  /api/v3/admin/jobs/{jobId}:
    get:
      operationId: getAdminJob
      parameters:
      - description: Durable job identifier.
        in: path
        name: jobId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adminJobDto"
          description: Job status and counts
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "503":
          $ref: "#/components/responses/unavailable"
      security:
      - adminSession: []
      summary: Read an administrative job
      tags:
      - adminJobs
      x-availability: disabled
      x-feature-flag: web_admin_api
  /api/v3/admin/jobs/{jobId}/recipients:
    get:
      operationId: listAdminJobRecipients
      parameters:
      - description: Durable job identifier.
        in: path
        name: jobId
        required: true
        schema:
          format: uuid
          type: string
      - $ref: "#/components/parameters/adminCursor"
      - $ref: "#/components/parameters/adminLimit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adminJobRecipientPageDto"
          description: Recipient outcomes without token material
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "503":
          $ref: "#/components/responses/unavailable"
      security:
      - adminSession: []
      summary: List job recipient outcomes
      tags:
      - adminJobs
      x-availability: disabled
      x-feature-flag: web_admin_api
  /api/v3/admin/jobs/{jobId}/retry:
    post:
      operationId: retryAdminJob
      parameters:
      - description: Durable job identifier.
        in: path
        name: jobId
        required: true
        schema:
          format: uuid
          type: string
      - $ref: "#/components/parameters/csrfHeader"
      - $ref: "#/components/parameters/idempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/adminJobCommandRequestDto"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adminJobAcceptedDto"
          description: Eligible failed work queued for retry
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "409":
          $ref: "#/components/responses/conflict"
        "503":
          $ref: "#/components/responses/unavailable"
      security:
      - adminSession: []
      summary: Retry eligible failed job work
      tags:
      - adminJobs
      x-availability: disabled
      x-feature-flag: web_admin_api
  /api/v3/admin/jobs/{jobId}/cancel:
    post:
      operationId: cancelAdminJob
      parameters:
      - description: Durable job identifier.
        in: path
        name: jobId
        required: true
        schema:
          format: uuid
          type: string
      - $ref: "#/components/parameters/csrfHeader"
      - $ref: "#/components/parameters/idempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/adminJobCommandRequestDto"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adminJobAcceptedDto"
          description: Pending job work cancelled
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "409":
          $ref: "#/components/responses/conflict"
        "503":
          $ref: "#/components/responses/unavailable"
      security:
      - adminSession: []
      summary: Cancel pending job work
      tags:
      - adminJobs
      x-availability: disabled
      x-feature-flag: web_admin_api
  /api/v3/admin/messages/test:
    post:
      description: Validate a message and deliver only to the explicit test recipient; action tokens are never returned.
      operationId: sendAdminTestMessage
      parameters:
      - $ref: "#/components/parameters/csrfHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/adminTestMessageRequestDto"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adminTestMessageAcceptedDto"
          description: Test delivery accepted
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "429":
          $ref: "#/components/responses/rateLimited"
        "503":
          $ref: "#/components/responses/unavailable"
      security:
      - adminSession: []
      summary: Send an administrative test message
      tags:
      - adminMessages
      x-availability: disabled
      x-feature-flag: web_admin_api
  /api/v3/admin/reports:
    get:
      operationId: listAdminReports
      parameters:
      - $ref: "#/components/parameters/adminCursor"
      - $ref: "#/components/parameters/adminLimit"
      - description: Restrict reports to one review state.
        in: query
        name: status
        schema:
          $ref: "#/components/schemas/adminReportStatus"
      - description: Search bounded report text or target identity.
        in: query
        name: search
        schema:
          maxLength: 256
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adminReportPageDto"
          description: Bounded report inbox page
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "503":
          $ref: "#/components/responses/unavailable"
      security:
      - adminSession: []
      summary: List reports for administrative review
      tags:
      - adminReports
      x-availability: disabled
      x-feature-flag: web_admin_api
  /api/v3/admin/reports/{reportId}:
    get:
      operationId: getAdminReport
      parameters:
      - description: Report identifier.
        in: path
        name: reportId
        required: true
        schema:
          format: uuid
          type: string
      - description: Optional revision requested by the client.
        in: query
        name: revision
        schema:
          format: int64
          minimum: 0
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adminReportDto"
          description: Report details and bounded history
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "503":
          $ref: "#/components/responses/unavailable"
      security:
      - adminSession: []
      summary: Read one report and its notes
      tags:
      - adminReports
      x-availability: disabled
      x-feature-flag: web_admin_api
    patch:
      operationId: updateAdminReport
      parameters:
      - description: Report identifier.
        in: path
        name: reportId
        required: true
        schema:
          format: uuid
          type: string
      - $ref: "#/components/parameters/csrfHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/adminReportUpdateRequestDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adminReportDto"
          description: Updated report
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "409":
          $ref: "#/components/responses/conflict"
        "503":
          $ref: "#/components/responses/unavailable"
      security:
      - adminSession: []
      summary: Apply a revision-checked report transition
      tags:
      - adminReports
      x-availability: disabled
      x-feature-flag: web_admin_api
  /api/v3/admin/reports/{reportId}/notes:
    get:
      operationId: listAdminReportNotes
      parameters:
      - description: Report identifier.
        in: path
        name: reportId
        required: true
        schema:
          format: uuid
          type: string
      - $ref: "#/components/parameters/adminCursor"
      - $ref: "#/components/parameters/adminLimit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adminReportNotePageDto"
          description: Complete cursor-paginated report note history
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "503":
          $ref: "#/components/responses/unavailable"
      security:
      - adminSession: []
      summary: List all administrative report notes
      tags:
      - adminReports
      x-availability: disabled
      x-feature-flag: web_admin_api
    post:
      operationId: addAdminReportNote
      parameters:
      - description: Report identifier.
        in: path
        name: reportId
        required: true
        schema:
          format: uuid
          type: string
      - $ref: "#/components/parameters/csrfHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/adminReportNoteRequestDto"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adminReportNoteDto"
          description: Note appended to the report
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "503":
          $ref: "#/components/responses/unavailable"
      security:
      - adminSession: []
      summary: Add an administrative report note
      tags:
      - adminReports
      x-availability: disabled
      x-feature-flag: web_admin_api
  /api/v3/admin/audit:
    get:
      operationId: listAdminAudit
      parameters:
      - $ref: "#/components/parameters/adminCursor"
      - $ref: "#/components/parameters/adminLimit"
      - description: Restrict events to one target account.
        in: query
        name: targetUserId
        schema:
          format: uuid
          type: string
      - description: Restrict events to one action.
        in: query
        name: action
        schema:
          $ref: "#/components/schemas/adminActionKind"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adminAuditPageDto"
          description: Permission-filtered audit page without secrets
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "503":
          $ref: "#/components/responses/unavailable"
      security:
      - adminSession: []
      summary: List administrative audit events
      tags:
      - adminAudit
      x-availability: disabled
      x-feature-flag: web_admin_api
components:
  parameters:
    adminCursor:
      description: Opaque cursor returned by the preceding page.
      in: query
      name: cursor
      required: false
      schema:
        maxLength: 512
        type: string
    adminLimit:
      description: Maximum number of records in the page; defaults to 25 and is capped at 100.
      in: query
      name: limit
      required: false
      schema:
        default: 25
        maximum: 100
        minimum: 1
        type: integer
    csrfHeader:
      description: Double-submit CSRF value issued by the admin session bootstrap and rotated after MFA or reauthentication.
      in: header
      name: X-CSRF-Token
      required: true
      schema:
        maxLength: 256
        minLength: 16
        type: string
    idempotencyKey:
      description: Client-generated business key; reusing it with a different payload returns 409.
      in: header
      name: Idempotency-Key
      required: true
      schema:
        maxLength: 128
        minLength: 8
        type: string
    reportIdempotencyKey:
      description: Optional client-generated key; replaying it with a different report returns 409.
      in: header
      name: Idempotency-Key
      required: false
      schema:
        maxLength: 255
        type: string
  responses:
    badRequest:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/apiErrorDto"
      description: Request is malformed or a token/action is invalid.
    unauthorized:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/apiErrorDto"
      description: Authentication is missing, expired, revoked, or invalid.
    forbidden:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/apiErrorDto"
      description: The authenticated principal lacks the required capability.
    notFound:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/apiErrorDto"
      description: The resource is absent or not visible to the caller.
    conflict:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/apiErrorDto"
      description: Revision, payload, audience, or idempotency key conflicts with current state.
    rateLimited:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/apiErrorDto"
      description: Shared rate limit exceeded; response is membership independent.
      headers:
        Retry-After:
          description: Number of seconds before retrying.
          schema:
            minimum: 0
            type: integer
    unavailable:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/apiErrorDto"
      description: Feature is disabled or a required local provider is unavailable.
  schemas:
    apiErrorDto:
      description: Stable, non-secret error envelope shared by v3 endpoints.
      example:
        code: invalid_request
        message: The request could not be accepted.
        retryAfterSeconds: 30
      properties:
        code:
          maxLength: 64
          type: string
        message:
          maxLength: 256
          type: string
        retryAfterSeconds:
          minimum: 0
          nullable: true
          type: integer
      required:
      - code
      - message
      type: object
    emailLinkRequestDto:
      description: Email-only login request. Surrounding whitespace is trimmed by the service.
      example:
        email: person@example.com
      properties:
        email:
          format: email
          maxLength: 320
          type: string
      required:
      - email
      type: object
    emailLinkRequestAcceptedDto:
      description: Generic response intentionally independent of account eligibility.
      example:
        accepted: true
      properties:
        accepted:
          enum:
          - true
          type: boolean
      required:
      - accepted
      type: object
    emailLinkExchangeRequestDto:
      description: Opaque one-time token captured from the browser fragment and submitted by POST.
      example:
        token: opaque-token-kept-out-of-logs
      properties:
        token:
          maxLength: 512
          minLength: 16
          type: string
      required:
      - token
      type: object
    emailLinkExchangeResponseDto:
      description: Existing consumer token pair plus the authoritative canonical username.
      example:
        tokens:
          accessToken: access-token
          refreshToken: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          userId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        username: alice
      properties:
        tokens:
          $ref: "#/components/schemas/tokenResponseDto"
        username:
          maxLength: 256
          type: string
      required:
      - tokens
      - username
      type: object
    recoveryCompleteRequestDto:
      description: Purpose-limited restricted recovery submission; it does not accept or create a normal JWT.
      example:
        password: a-new-password
        token: opaque-recovery-token
      properties:
        password:
          maxLength: 256
          minLength: 8
          type: string
        token:
          maxLength: 512
          minLength: 16
          type: string
      required:
      - password
      - token
      type: object
    sessionRevokeRequestDto:
      description: Refresh credential to revoke; the bearer identity must own it.
      example:
        refreshToken: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        refreshToken:
          format: uuid
          type: string
      required:
      - refreshToken
      type: object
    adminSessionState:
      enum:
      - pre_authentication
      - mfa_required
      - authenticated
      type: string
    adminSessionBootstrapDto:
      description: Pre-authentication state created before password login; the CSRF value is bound to its challenge cookie.
      example:
        csrfToken: csrf-bootstrap-value
        expiresAt: 2026-09-14T12:30:00Z
        sessionState: pre_authentication
      properties:
        csrfToken:
          maxLength: 256
          minLength: 16
          type: string
        expiresAt:
          format: date-time
          type: string
        sessionState:
          $ref: "#/components/schemas/adminSessionState"
      required:
      - csrfToken
      - expiresAt
      - sessionState
      type: object
    adminSessionLoginRequestDto:
      description: Admin credentials for the password challenge. Consumer credentials never grant this session.
      example:
        password: password-kept-out-of-logs
        username: operator
      properties:
        password:
          maxLength: 256
          minLength: 8
          type: string
        username:
          maxLength: 256
          minLength: 1
          type: string
      required:
      - password
      - username
      type: object
    adminSessionLoginResponseDto:
      description: One-use password challenge awaiting TOTP completion.
      example:
        challengeId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        csrfToken: csrf-login-value
        expiresAt: 2026-09-14T12:05:00Z
        sessionState: mfa_required
      properties:
        challengeId:
          format: uuid
          type: string
        csrfToken:
          maxLength: 256
          minLength: 16
          type: string
        expiresAt:
          format: date-time
          type: string
        sessionState:
          enum:
          - mfa_required
          type: string
      required:
      - challengeId
      - csrfToken
      - expiresAt
      - sessionState
      type: object
    adminMfaRequestDto:
      description: One-use TOTP challenge response.
      example:
        challengeId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        code: '123456'
      properties:
        challengeId:
          format: uuid
          type: string
        code:
          maxLength: 32
          minLength: 6
          type: string
      required:
      - challengeId
      - code
      type: object
    adminReauthenticateRequestDto:
      description: Recent MFA proof bound to one sensitive action.
      example:
        action: mark_compromised
        code: '123456'
      properties:
        action:
          $ref: "#/components/schemas/adminActionKind"
        code:
          maxLength: 32
          minLength: 6
          type: string
      required:
      - action
      - code
      type: object
    adminSessionDto:
      description: Opaque browser admin session state restored by GET; no consumer JWT or refresh credential is included.
      example:
        authenticatedAt: 2026-09-14T04:00:00Z
        capabilities:
        - users.read
        - security.revoke
        csrfToken: csrf-authenticated-value
        idleExpiresAt: 2026-09-14T04:30:00Z
        lastActivityAt: 2026-09-14T04:10:00Z
        permissions:
        - users.read
        recentMfaAt: 2026-09-14T04:10:00Z
        sessionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        sessionState: authenticated
        userId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        username: operator
      properties:
        authenticatedAt:
          format: date-time
          type: string
        capabilities:
          items:
            maxLength: 128
            type: string
          maxItems: 100
          type: array
        csrfToken:
          maxLength: 256
          minLength: 16
          type: string
        idleExpiresAt:
          format: date-time
          type: string
        lastActivityAt:
          format: date-time
          type: string
        permissions:
          items:
            maxLength: 128
            type: string
          maxItems: 100
          type: array
        recentMfaAt:
          format: date-time
          nullable: true
          type: string
        sessionId:
          format: uuid
          type: string
        sessionState:
          enum:
          - authenticated
          type: string
        userId:
          format: uuid
          type: string
        username:
          maxLength: 256
          type: string
      required:
      - authenticatedAt
      - capabilities
      - csrfToken
      - idleExpiresAt
      - lastActivityAt
      - permissions
      - sessionId
      - sessionState
      - userId
      - username
      type: object
    adminActionKind:
      enum:
      - email
      - login_link
      - push
      - revoke_sessions
      - mark_compromised
      - recovery_resend
      - report_resolve
      - report_dismiss
      - jobs.control
      - messages.test
      - reports.review
      type: string
    audienceKind:
      enum:
      - selected
      - filter
      - all
      type: string
    audienceResourceKind:
      enum:
      - accounts
      - reports
      type: string
    adminSecurityState:
      enum:
      - normal
      - password_disabled
      - compromised
      - secured_manual_recovery_required
      - deleted
      type: string
    adminJobStatus:
      enum:
      - pending
      - running
      - completed
      - completed_with_errors
      - paused
      - cancelled
      type: string
    adminReportStatus:
      enum:
      - open
      - resolved
      - dismissed
      type: string
    adminUserDto:
      description: Bounded administrative account summary. Credential material is intentionally absent.
      example:
        authGeneration: 2
        compromisedAt: null
        createdAt: 2026-01-10T12:00:00Z
        email: person@example.com
        emailVerified: true
        eligibilityReasons: []
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        isAdmin: false
        passwordDisabled: false
        passwordResetRequired: false
        securityState: normal
        username: alice
      properties:
        authGeneration:
          format: int64
          minimum: 0
          type: integer
        compromisedAt:
          format: date-time
          nullable: true
          type: string
        createdAt:
          format: date-time
          type: string
        email:
          format: email
          maxLength: 320
          nullable: true
          type: string
        emailVerified:
          type: boolean
        eligibilityReasons:
          items:
            maxLength: 256
            type: string
          maxItems: 32
          type: array
        id:
          format: uuid
          type: string
        isAdmin:
          type: boolean
        passwordDisabled:
          type: boolean
        passwordResetRequired:
          type: boolean
        securityState:
          $ref: "#/components/schemas/adminSecurityState"
        username:
          maxLength: 256
          type: string
      required:
      - authGeneration
      - createdAt
      - emailVerified
      - eligibilityReasons
      - id
      - isAdmin
      - passwordDisabled
      - passwordResetRequired
      - securityState
      - username
      type: object
    adminUserPageDto:
      description: Cursor page with a default limit of 25 and a maximum of 100.
      example:
        items: []
        nextCursor: next-cursor
      properties:
        items:
          items:
            $ref: "#/components/schemas/adminUserDto"
          maxItems: 100
          type: array
        nextCursor:
          maxLength: 512
          nullable: true
          type: string
      required:
      - items
      type: object
    adminUserDetailsDto:
      allOf:
      - $ref: "#/components/schemas/adminUserDto"
      - properties:
          communicationOptOut:
            type: boolean
          registeredDeviceCount:
            minimum: 0
            type: integer
        required:
        - communicationOptOut
        - registeredDeviceCount
        type: object
      description: Administrative account details with aggregate device/preferences state.
    adminUserFilterDto:
      description: Validated server-side account filter. Filter evaluation never happens in the client.
      example:
        includeAdmins: false
        resource: accounts
        securityStatuses:
        - normal
        verifiedEmail: true
      properties:
        createdAfter:
          format: date-time
          nullable: true
          type: string
        createdBefore:
          format: date-time
          nullable: true
          type: string
        email:
          format: email
          maxLength: 320
          nullable: true
          type: string
        id:
          format: uuid
          nullable: true
          type: string
        includeAdmins:
          default: false
          type: boolean
        resource:
          enum:
          - accounts
          type: string
        securityStatuses:
          items:
            $ref: "#/components/schemas/adminSecurityState"
          maxItems: 8
          minItems: 1
          nullable: true
          type: array
        username:
          maxLength: 256
          nullable: true
          type: string
        verifiedEmail:
          nullable: true
          type: boolean
      required:
      - resource
      type: object
    adminReportFilterDto:
      description: Validated server-side report filter. Filter evaluation never happens in the client.
      example:
        assigneeUserId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        createdAfter: 2026-01-01T00:00:00Z
        resource: reports
        statuses:
        - open
        types:
        - abuse
      properties:
        assigneeUserId:
          format: uuid
          nullable: true
          type: string
        createdAfter:
          format: date-time
          nullable: true
          type: string
        createdBefore:
          format: date-time
          nullable: true
          type: string
        resource:
          enum:
          - reports
          type: string
        statuses:
          items:
            $ref: "#/components/schemas/adminReportStatus"
          maxItems: 3
          minItems: 1
          nullable: true
          type: array
        types:
          items:
            maxLength: 64
            minLength: 1
            type: string
          maxItems: 32
          minItems: 1
          nullable: true
          type: array
      required:
      - resource
      type: object
    adminAudienceFilter:
      description: Resource-tagged filter union. Account and report criteria cannot be applied across resource types.
      x-canonical-audience-filter-union: true
      discriminator:
        mapping:
          accounts: "#/components/schemas/adminUserFilterDto"
          reports: "#/components/schemas/adminReportFilterDto"
        propertyName: resource
      oneOf:
      - $ref: "#/components/schemas/adminUserFilterDto"
      - $ref: "#/components/schemas/adminReportFilterDto"
    selectedAudience:
      description: Explicit bounded IDs; report actions interpret IDs as report IDs.
      properties:
        ids:
          items:
            format: uuid
            type: string
          maxItems: 10000
          minItems: 1
          type: array
        kind:
          enum:
          - selected
          type: string
        resource:
          $ref: "#/components/schemas/audienceResourceKind"
      required:
      - ids
      - kind
      - resource
      type: object
    filterAudience:
      description: Explicit validated filter evaluated once into an immutable snapshot.
      properties:
        filter:
          $ref: "#/components/schemas/adminAudienceFilter"
          x-canonical-pointer: true
        kind:
          enum:
          - filter
          type: string
        resource:
          $ref: "#/components/schemas/audienceResourceKind"
      required:
      - filter
      - kind
      - resource
      type: object
    allAudience:
      description: All eligible records of the declared resource type, after server-side safety checks.
      properties:
        kind:
          enum:
          - all
          type: string
        resource:
          $ref: "#/components/schemas/audienceResourceKind"
      required:
      - kind
      - resource
      type: object
    adminAudience:
      description: Discriminated explicit selection/filter/all union. Empty audiences are invalid.
      x-canonical-audience-union: true
      x-canonical-branches:
        discriminator: kind
        required:
          all: []
          filter:
          - filter
          selected:
          - ids
      properties:
        kind:
          $ref: "#/components/schemas/audienceKind"
      required:
      - kind
      type: object
      discriminator:
        mapping:
          all: "#/components/schemas/allAudience"
          filter: "#/components/schemas/filterAudience"
          selected: "#/components/schemas/selectedAudience"
        propertyName: kind
      oneOf:
      - $ref: "#/components/schemas/selectedAudience"
      - $ref: "#/components/schemas/filterAudience"
      - $ref: "#/components/schemas/allAudience"
    emailActionDto:
      description: Server-sanitized email action payload.
      properties:
        action:
          enum:
          - email
          type: string
        body:
          maxLength: 10000
          minLength: 1
          type: string
        messageHtml:
          description: Optional server-sanitized preview input; scripts and admin DOM access are rejected.
          maxLength: 20000
          nullable: true
          type: string
        subject:
          maxLength: 200
          minLength: 1
          type: string
      required:
      - body
      - subject
      - action
      type: object
    loginLinkActionDto:
      properties:
        action:
          enum:
          - login_link
          type: string
        reason:
          maxLength: 512
          nullable: true
          type: string
      required:
      - action
      type: object
    pushActionDto:
      properties:
        action:
          enum:
          - push
          type: string
        body:
          maxLength: 2000
          minLength: 1
          type: string
        title:
          maxLength: 200
          minLength: 1
          type: string
      required:
      - body
      - title
      - action
      type: object
    revokeSessionsActionDto:
      properties:
        action:
          enum:
          - revoke_sessions
          type: string
        reason:
          maxLength: 512
          minLength: 1
          type: string
      required:
      - reason
      - action
      type: object
    markCompromisedActionDto:
      properties:
        action:
          enum:
          - mark_compromised
          type: string
        reason:
          maxLength: 512
          minLength: 1
          type: string
      required:
      - reason
      - action
      type: object
    recoveryResendActionDto:
      properties:
        action:
          enum:
          - recovery_resend
          type: string
        reason:
          maxLength: 512
          minLength: 1
          type: string
      required:
      - reason
      - action
      type: object
    reportResolveActionDto:
      properties:
        action:
          enum:
          - report_resolve
          type: string
        note:
          maxLength: 2000
          nullable: true
          type: string
      required:
      - action
      type: object
    reportDismissActionDto:
      properties:
        action:
          enum:
          - report_dismiss
          type: string
        note:
          maxLength: 2000
          nullable: true
          type: string
      required:
      - action
      type: object
    adminAction:
      description: Discriminated action and payload union. The action kind is bound into preview and job payload hashes.
      x-canonical-action-union: true
      x-canonical-branches:
        discriminator: action
        required:
          email:
          - body
          - subject
          login_link: []
          mark_compromised:
          - reason
          push:
          - body
          - title
          recovery_resend:
          - reason
          report_dismiss: []
          report_resolve: []
          revoke_sessions:
          - reason
      properties:
        action:
          $ref: "#/components/schemas/adminActionKind"
      required:
      - action
      type: object
      discriminator:
        mapping:
          email: "#/components/schemas/emailActionDto"
          login_link: "#/components/schemas/loginLinkActionDto"
          mark_compromised: "#/components/schemas/markCompromisedActionDto"
          push: "#/components/schemas/pushActionDto"
          recovery_resend: "#/components/schemas/recoveryResendActionDto"
          report_dismiss: "#/components/schemas/reportDismissActionDto"
          report_resolve: "#/components/schemas/reportResolveActionDto"
          revoke_sessions: "#/components/schemas/revokeSessionsActionDto"
        propertyName: action
      oneOf:
      - $ref: "#/components/schemas/emailActionDto"
      - $ref: "#/components/schemas/loginLinkActionDto"
      - $ref: "#/components/schemas/pushActionDto"
      - $ref: "#/components/schemas/revokeSessionsActionDto"
      - $ref: "#/components/schemas/markCompromisedActionDto"
      - $ref: "#/components/schemas/recoveryResendActionDto"
      - $ref: "#/components/schemas/reportResolveActionDto"
      - $ref: "#/components/schemas/reportDismissActionDto"
    adminAudiencePreviewRequestDto:
      example:
        action:
          action: login_link
        audience:
          ids:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          kind: selected
          resource: accounts
      properties:
        action:
          $ref: "#/components/schemas/adminAction"
        audience:
          $ref: "#/components/schemas/adminAudience"
      required:
      - action
      - audience
      type: object
    adminAudienceCountsDto:
      description: Counts are calculated by the server and distinguish accounts, eligible recipients, and device deliveries.
      example:
        accountAudienceCount: 1
        deviceDeliveryCount: 0
        excludedCount: 0
        eligibleRecipientCount: 1
      properties:
        accountAudienceCount:
          format: int64
          minimum: 0
          type: integer
        deviceDeliveryCount:
          format: int64
          minimum: 0
          type: integer
        excludedCount:
          format: int64
          minimum: 0
          type: integer
        eligibleRecipientCount:
          format: int64
          minimum: 0
          type: integer
      required:
      - accountAudienceCount
      - deviceDeliveryCount
      - excludedCount
      - eligibleRecipientCount
      type: object
    adminAudienceExclusionDto:
      properties:
        id:
          format: uuid
          type: string
        reason:
          maxLength: 256
          type: string
        resource:
          $ref: "#/components/schemas/audienceResourceKind"
      required:
      - id
      - reason
      - resource
      type: object
    adminAudienceMemberDto:
      properties:
        eligible:
          type: boolean
        id:
          format: uuid
          type: string
        reason:
          maxLength: 256
          nullable: true
          type: string
        resource:
          $ref: "#/components/schemas/audienceResourceKind"
      required:
      - eligible
      - id
      - resource
      type: object
    adminAudiencePreviewDto:
      description: Ready immutable snapshot preview bound to actor, action, payload hash and expiry.
      example:
        action:
          action: login_link
        counts:
          accountAudienceCount: 1
          deviceDeliveryCount: 0
          excludedCount: 0
          eligibleRecipientCount: 1
        expiresAt: 2026-09-14T04:15:00Z
        exclusions: []
        payloadHash: sha256-payload-hash
        snapshotId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        status: ready
      properties:
        action:
          $ref: "#/components/schemas/adminAction"
        actorUserId:
          format: uuid
          type: string
        counts:
          $ref: "#/components/schemas/adminAudienceCountsDto"
        expiresAt:
          format: date-time
          type: string
        exclusions:
          items:
            $ref: "#/components/schemas/adminAudienceExclusionDto"
          maxItems: 100
          type: array
        payloadHash:
          maxLength: 128
          minLength: 16
          type: string
        resource:
          $ref: "#/components/schemas/audienceResourceKind"
        snapshotId:
          format: uuid
          type: string
        status:
          enum:
          - pending
          - ready
          - expired
          - failed
          type: string
      required:
      - action
      - actorUserId
      - counts
      - expiresAt
      - exclusions
      - payloadHash
      - resource
      - snapshotId
      - status
      type: object
    adminAudiencePreviewAcceptedDto:
      description: Large snapshot materialization accepted as a disabled-feature job.
      properties:
        jobId:
          format: uuid
          type: string
        snapshotId:
[...]
