name: Build Spring Boot Docker Image

on:
  push:
    branches-ignore:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Create settings.xml for GitHub Packages authentication
        run: |
          echo "<settings xmlns='http://maven.apache.org/SETTINGS/1.0.0' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:schemaLocation='http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd'>" > ~/.m2/settings.xml
          echo "<servers><server><id>github</id><username>lr101</username><password>${{ secrets.GH_TOKEN }}</password></server></servers>" >> ~/.m2/settings.xml
          echo "</settings>" >> ~/.m2/settings.xml

      - name: Test
        run: mvn test
      - name: Build Spring Boot Docker image
        run: mvn spring-boot:build-image

